/* index.css 是用来美化首页的 */

/* 通用代码 */
* {
    margin: 0;
    padding: 0;
    /* 内减模式 */
    box-sizing: border-box;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}
.clearfix::before,.clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}

body {
    background-color: #f3f5f7;
}

li a h3 {
    margin: 20px;
    line-height: 20px;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #050505;
}


li a p {
    margin-left: 20px;
	font-size: 12px;
    color: #999999;
}

li a p span {
    color: #ff7c2d;
}

/* 版心 */
.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* 顶部区域 */
.top {
    margin: 30px auto;
    width: 1200px;
    height: 65px;
    /* background-color: pink; */
}

.top h1 {
    float: left;
    margin-right: 70px;
}

.nav li a {
    float: left;
    padding: 9px 10px;
	font-family: MicrosoftYaHei;
	font-size: 18px;
	letter-spacing: 2px;
	color: #050505;
}

.top ul a:hover {
    border-bottom: 2px solid #00a4ff;
}

.search input {
    float: left;
    margin-left: 85px;
    padding: 10px 20px;
    width: 360px;
	height: 40px;
	border: 1px solid #00a4ff;
	font-family: MicrosoftYaHei;
}

.search input::placeholder{
    font-size: 14px;
    color: #bfbfbf;
}

.search button {
    float: left;
    width: 50px;
    height: 40px;
    background-image: url(../images/btn.png);
    border: 0;
}

.user {
    float: left;
    margin-left: 30px;
    height: 42px;
    line-height: 42px;
}

.user img {
    vertical-align: middle;
}

.user span {
	font-family: MicrosoftYaHei;
	font-size: 14px;
	letter-spacing: 1px;
	color: #666666;
    text-align: center;
}

/* 轮播图区域 */
.banner {
    height: 420px;
    background-color: #1c036c;
}

.banner .wrapper {
    height: 420px;
    background-image: url(../images/banner2.png)
}

.banner .left {
    float: left;
    width: 190px;
    height: 420px;
    padding: 10px 20px;
    line-height: 44px;
    background-color: rgba(0, 0, 0, 0.3);
	/* opacity: 0.3; */
}

.banner .left span {
    float: right;
}

.banner .left a {
    font-family: MicrosoftYaHei;
    letter-spacing: 1px;
    font-size: 14px;
    color: #fff;
}

.banner .left a:hover {
    color: #00a4ff;
}

.banner .right {
    float: right;
    margin-top: 50px;
    width: 228px;
	height: 300px;
	background-color: #ffffff;
}

.banner .right h2 {
    height: 48px;
    font-family: MicrosoftYaHei-Bold;
	font-size: 18px;
    text-align: center;
	line-height: 48px;
	letter-spacing: 2px;
	color: #ffffff;
    background-color: #9bceea;
}

.banner .right .content {
    padding: 4px 18px;
}

.banner .right .content dl {
    padding: 10px 0;
    border-bottom: 2px solid #e5e5e5;
}

.banner .right .content dt {
    font-family: FZLTCXHJW--GB1-0;
	font-size: 16px;
	line-height: 20px;
}

.banner .right .content dt a {
	color: #4e4e4e;
}

.banner .right .content dt span {
    margin-left: 5px;
    font-family: FZLTCXHJW--GB1-0;
	font-size: 14px;
    line-height: 20px;
}

.banner .right .content dd {
    font-family: FZLTCXHJW--GB1-0;
	font-size: 12px;
    line-height: 20px;
	color: #a5a5a5;
}

.banner .right .allclass a {
    margin: 0px auto;
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 2px;
    color: #00a4ff;
    border: 1px solid #00a4ff;
}

/* 精品推荐 */
.recommend {
    margin-top: 8px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 2px 3px 0px 
		rgba(118, 118, 118, 0.2);
}

.recommend h2 {
    float: left;
    margin: auto 30px;
    /* line-height: 60px; */
    text-align: center;
    height: 18px;
	font-family: MicrosoftYaHei-Bold;
	font-size: 16px;
	font-weight: 700;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #00a4ff;
}

.recommend ul li {
    float: left;
}

.recommend ul li a {
    display: block;
    margin: 22px auto;
    line-height: 16px;
    width: 120px;
	font-size: 16px;
	color: #050505;
    border-left: 1px solid #bfbfbf;
}

.recommend ul li a:hover {
    color: #00a4ff;
}

.recommend .change {
    float: right;
    margin-right: 26px;
	font-size: 14px;
	color: #00a4ff;
}

/* 精品推荐课程---------------------------------------------------- */
.box {
    margin-top: 30px;
    /* background-color: pink; */
}

.box .title {
    height: 40px;
    /* background-color: green; */
}

.box .title h2 {
    float: left;
    font-family: MicrosoftYaHei;
    font-weight: 400;
	font-size: 20px;
    color: #494949;
}

.box .title a {
    float: right;
    margin-right: 30px;
    line-height: 20px;
    font-family: MicrosoftYaHei;
	font-size: 12px;
	letter-spacing: 0px;
    line-height: 30px;
	color: #a5a5a5;
    text-align: end;
}

.courses li {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 228px;
	height: 270px;
    overflow: hidden;
	background-color: #ffffff;
	box-shadow: 0px 2px 5px 0px 
		rgba(118, 118, 118, 0.5);
}

.courses li:nth-child(5n) {
    margin-right: 0;
}

/* .box .courses li a h3 {
    margin: 20px;
    line-height: 20px;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #050505;
} */

/* .box .courses li a p {
    margin-left: 20px;
	font-size: 12px;
    color: #999999;
}

.box .courses li a p span {
    color: #ff7c2d;
} */

/* 编程入门 -------------------------------------------------------------------------*/
.start {
    margin-top: 15px;
}

.start .title2 {
    height: 40px;
}

.start .title2 h2 {
    float: left;
    margin-right: 350px;
	font-size: 20px;
    font-weight: 400;
	color: #494949;
}

.start .title2 ul li a {
    float: left;
    margin-right: 70px;
	font-size: 16px;
    line-height: 30px;
	color: #868686;
}

.start .title2 ul li a:hover {
    color: #00a4ff;
}

.start .title2 .seeall {
    float: right;
    font-size: 12px;
    line-height: 30px;
	color: #a5a5a5;
}

.start .title2 .seeall:hover {
    color: #00a4ff;
}

.start .neirong .leftimg {
    float: left;
}

.start .neirong .topimg {
    float: right;   
}

.start .neirong .bottom {
    float: right;
    margin-top: 17px;
    width: 972px;
    height: 270px;
}

.start .neirong .bottom li {
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-left: 15px;
}

/* 多处有类似的样式，在开始进行统一的设置 */
/* .start .neirong .bottom li a h3 {
    margin: 20px;
    width: 184px;
	height: 32px;
	font-size: 14px;
    font-weight: 400;
	line-height: 20px;
	color: #050505;
} */

/* .start .neirong .bottom li a p {
    margin-left: 20px;
	font-size: 12px;
    color: #999999;
}

.start .neirong .bottom li a p span {
    color: #ff7c2d;
} */

/* 数据分析师，借用编程入门处的CSS代码即可——布局相同，减少重复 */

.changeimg {
    filter: hue-rotate(150deg);
}

/* 机器学习工程师，可借用编程入门和精品课程推荐区域的CSS代码 */

/* 前端开发工程师，可借用编程入门和精品课程推荐区域的CSS代码 */

/* 底部区域------------------------------- */
.footer {
    margin-top: 20px;
    height: 417px;
    background-color: #ffffff;
}

.footer .left {
    float: left;
}

.footer .left img {
    margin-top: 30px;
}

.footer .left p {
    margin-top: 20px;
	font-size: 12px;
	line-height: 18px;
	color: #666666;
}

.footer .left button {
    margin-top: 15px;
    width: 120px;
	height: 36px;
	border: solid 1px #00a4ff;
	font-size: 16px;
	line-height: 18px;
	color: #00a4ff;
    background-color: #fff;
}

.footer .right dl {
    float: right;
    margin: 30px 30px 0 120px;
}

.footer .right dl dt {
    margin-bottom: 10px;
}

.footer .right dl dt h3{
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
	color: #333333;
}

.footer .right dl dd a {
	font-size: 12px;
	line-height: 21px;
	color: #333333;
}

.column {
    position: absolute;
    top: 910px;
    left: 150px;
    padding: 20px;
    width: 183px;
    height: 425px;
    background-color: #fff;
}

.column li a {
	font-size: 14px;
	line-height: 36px;
	letter-spacing: 1px;
	color: #000000;
}

.column li a:hover {
    color: #00a4ff;
}